{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ditte.css')}}">
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="{{ messages[0][0] }}">{{ messages[0][1] }}</div>
{% endif %}
{% endwith %}

<table>
    <thead>
        <tr>
            <th class="pink">ID</th>
            <th class="yellow">NOME</th>
            <th class="blue">PARTITA IVA</th>
            <th class="green">REFERENTE</th>
            <th class="green">EMAIL REF.</th>
            <th class="green">TEL. REF.</th>
            <th class="orange">NOTE</th>
            <th class="brown">INDIVIDUALE</th>
            <th>AZIONI</th>
        </tr>
    </thead>
    <tbody>
        {% if ditte %}
        {% for ditta in ditte %}
        <tr>
            <td>{{ ditta[0] or "" }}</td>
            <td>{{ ditta[1] }}</td> <!-- nome ditta -->
            <td>{{ ditta[2] or ""}}</td> <!-- piva -->
            <td>{{ ditta[3] or ""}}</td> <!-- referente -->
            <td>{{ ditta[4] or ""}}</td> <!-- email referente -->
            <td>{{ ditta[5] or ""}}</td> <!-- telefono referente -->
            <td>{{ ditta[6] or ""}}</td> <!-- note -->
            <td>
                <button class="checkbox-button" onclick="handleCheckboxClick(this, {{ ditta[0] }}, 'ditta_individuale')">
                    {% if ditta[7] == 1 %} ✅ {% else %} ❌ {% endif %}
                </button>
            </td> <!-- ditta individuale -->
            <td class="action-buttons">
                <form id="form-elimina-ditta" action="/elimina-ditta" method="POST">
                    <input type="hidden" name = "id" value = {{ ditta[0] }}>
                    <button type="submit" class="btn btn-danger">Elimina</button>
                </form>
                <button onclick="confirmAction('aggiorna', {{ ditta[0] }})" class="btn btn-primary">Aggiorna</button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<form action="/aggiungi-ditte" method="GET">
    <button type="submit" id="fixed-button">Aggiungi ditta</button>
</form>

<button onclick="toggleDropdown()" class="cerca-ditta-dropdown-button">🔍 Cerca</button>

    <div id="cerca-ditta-dropdown-menu" class="cerca-ditta-dropdown-menu">
        <input type="text" id="cerca-ditta-search" class="search-by-ditta-input" placeholder="Cerca ditta..." oninput="filterDitte(this.value)" autocomplete="off">
        {% if ditte_names %}
        {% for ditta in ditte_names %}
        <button onclick="handleDropDownCercaDitteItemSelected('{{ ditta[0] }}')">{{ ditta[0] }}</button>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ditte.js') }}"></script>
{% endblock %}